@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Helvetica-Neue', 'Arial', Helvetica, sans-serif;
}
:root a {
  color: #7E22CE; /* Default link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add a smooth transition for color change */

  /* Adjust the purple color */
  &:hover {
    color: #6A1EAD; /* Change the color to a slightly lighter purple on hover */
  }
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #ccc5c5;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  @apply dark:bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7E22CE;
  border-radius: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}